lenskart-miniproj-adf/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "lenskart-miniproj-adf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/product_details_casted')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_lenskart_raw_blob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "lenskardata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/productas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azure_sql_lenskart_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "nvarchar"
					},
					{
						"name": "product_url",
						"type": "nvarchar"
					},
					{
						"name": "color",
						"type": "nvarchar"
					},
					{
						"name": "size",
						"type": "nvarchar"
					},
					{
						"name": "width",
						"type": "int",
						"precision": 10
					},
					{
						"name": "brand_name",
						"type": "nvarchar"
					},
					{
						"name": "brand_name_en",
						"type": "nvarchar"
					},
					{
						"name": "model_name",
						"type": "nvarchar"
					},
					{
						"name": "is_tbyb",
						"type": "nvarchar"
					},
					{
						"name": "tags",
						"type": "nvarchar"
					},
					{
						"name": "is_ditto",
						"type": "nvarchar"
					},
					{
						"name": "classification",
						"type": "nvarchar"
					},
					{
						"name": "specifications",
						"type": "nvarchar"
					},
					{
						"name": "wishlistCount",
						"type": "nvarchar"
					},
					{
						"name": "purchaseCount",
						"type": "nvarchar"
					},
					{
						"name": "avgRating",
						"type": "nvarchar"
					},
					{
						"name": "totalNoOfRatings",
						"type": "nvarchar"
					},
					{
						"name": "hashtagList",
						"type": "nvarchar"
					},
					{
						"name": "offerName",
						"type": "nvarchar"
					},
					{
						"name": "cmsLinkIos",
						"type": "nvarchar"
					},
					{
						"name": "qty",
						"type": "nvarchar"
					},
					{
						"name": "subCollection",
						"type": "nvarchar"
					},
					{
						"name": "subCollectionId",
						"type": "nvarchar"
					},
					{
						"name": "isCygnusEnabled",
						"type": "nvarchar"
					},
					{
						"name": "isCashbackApplicable",
						"type": "nvarchar"
					},
					{
						"name": "searchProductName",
						"type": "nvarchar"
					},
					{
						"name": "Market_Price",
						"type": "nvarchar"
					},
					{
						"name": "Lenskart_Price",
						"type": "nvarchar"
					},
					{
						"name": "Discount_Percentage",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "raw",
					"table": "ProducrtsRefined"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/productsRefinedAZuresA')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azure_sql_lenskart_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "raw",
					"table": "ProducrtsRefined2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/raw_data_azure_sql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azure_sql_lenskart_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "raw",
					"table": "productDetails"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/revenuemonth')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azure_sql_lenskart_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "Reports",
					"table": "RevenueByMonth"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/stores_data_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_lenskart_raw_blob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "all_store.csv",
						"container": "lenskardata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "flag",
						"type": "String"
					},
					{
						"name": "lk_store_id",
						"type": "String"
					},
					{
						"name": "store",
						"type": "String"
					},
					{
						"name": "si_store_id",
						"type": "String"
					},
					{
						"name": "alt_store_name_catch",
						"type": "String"
					},
					{
						"name": "status",
						"type": "String"
					},
					{
						"name": "store_open_status",
						"type": "String"
					},
					{
						"name": "store_pickup_available",
						"type": "String"
					},
					{
						"name": "brand_lk_jj",
						"type": "String"
					},
					{
						"name": "store_type_labels",
						"type": "String"
					},
					{
						"name": "location_type_labels",
						"type": "String"
					},
					{
						"name": "address_full",
						"type": "String"
					},
					{
						"name": "address_line_1",
						"type": "String"
					},
					{
						"name": "address_line_2",
						"type": "String"
					},
					{
						"name": "address_locality",
						"type": "String"
					},
					{
						"name": "address_landmark",
						"type": "String"
					},
					{
						"name": "address_city",
						"type": "String"
					},
					{
						"name": "address_state",
						"type": "String"
					},
					{
						"name": "address_pin_code",
						"type": "String"
					},
					{
						"name": "address_country",
						"type": "String"
					},
					{
						"name": "latitude",
						"type": "String"
					},
					{
						"name": "longitude",
						"type": "String"
					},
					{
						"name": "wp_db_id",
						"type": "String"
					},
					{
						"name": "place_id",
						"type": "String"
					},
					{
						"name": "google_cid_g",
						"type": "String"
					},
					{
						"name": "flaberry_place_id_ur",
						"type": "String"
					},
					{
						"name": "fb_page_id",
						"type": "String"
					},
					{
						"name": "appointment_url",
						"type": "String"
					},
					{
						"name": "store_email",
						"type": "String"
					},
					{
						"name": "store_virtual_number",
						"type": "String"
					},
					{
						"name": "store_phone",
						"type": "String"
					},
					{
						"name": "business_hours_openi",
						"type": "String"
					},
					{
						"name": "business_hours_closi",
						"type": "String"
					},
					{
						"name": "store_manager_name",
						"type": "String"
					},
					{
						"name": "store_manager_mobile",
						"type": "String"
					},
					{
						"name": "payment_types",
						"type": "String"
					},
					{
						"name": "parking_options",
						"type": "String"
					},
					{
						"name": "store_opening_date",
						"type": "String"
					},
					{
						"name": "store_size",
						"type": "String"
					},
					{
						"name": "single_interface_sto",
						"type": "String"
					},
					{
						"name": "slug",
						"type": "String"
					},
					{
						"name": "lenskart_store_page_",
						"type": "String"
					},
					{
						"name": "google_maps_url",
						"type": "String"
					},
					{
						"name": "google_search_url",
						"type": "String"
					},
					{
						"name": "google_review_url",
						"type": "String"
					},
					{
						"name": "bing",
						"type": "String"
					},
					{
						"name": "foursquare_url",
						"type": "String"
					},
					{
						"name": "yalwa_url",
						"type": "String"
					},
					{
						"name": "dealsnyou_url",
						"type": "String"
					},
					{
						"name": "magicpin_url",
						"type": "String"
					},
					{
						"name": "review_short_url",
						"type": "String"
					},
					{
						"name": "map_short_url",
						"type": "String"
					},
					{
						"name": "from_the_brand",
						"type": "String"
					},
					{
						"name": "labels",
						"type": "String"
					},
					{
						"name": "busy_hours",
						"type": "String"
					},
					{
						"name": "slightly_hours",
						"type": "String"
					},
					{
						"name": "serviceOptions",
						"type": "String"
					},
					{
						"name": "store_front_image",
						"type": "String"
					},
					{
						"name": "is_union_territory",
						"type": "String"
					},
					{
						"name": "created_at",
						"type": "String"
					},
					{
						"name": "updated_at",
						"type": "String"
					},
					{
						"name": "running_status",
						"type": "String"
					},
					{
						"name": "ratingAndReviewCount",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/total_sale_of_brands')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azure_sql_lenskart_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "Reports",
					"table": "total_sale_of_brands"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/transactionrefined')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azure_sql_lenskart_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "customer_id",
						"type": "nvarchar"
					},
					{
						"name": "product_id",
						"type": "nvarchar"
					},
					{
						"name": "quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "transaction_date",
						"type": "date"
					},
					{
						"name": "transaction_id",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "raw",
					"table": "TransactionsRefined"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/transactions_data_azure_sql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azure_sql_lenskart_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "customer_id",
						"type": "nvarchar"
					},
					{
						"name": "product_id",
						"type": "nvarchar"
					},
					{
						"name": "quantity",
						"type": "nvarchar"
					},
					{
						"name": "transaction_date",
						"type": "nvarchar"
					},
					{
						"name": "transaction_id",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "raw",
					"table": "transactions"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/data- ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "import productDetails",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dataset_lenskart_raw_csv",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "raw_data_azure_sql",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "import customerDetails",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "import productDetails",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dataset_lenskart_customers_csv",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "customers_data_azure_sql",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "import transactionDetails",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "import customerDetails",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dataset_lenskart_transactions_csv",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "transactions_data_azure_sql",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "import customer_reviews",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "import transactionDetails",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dataset_customer_reviews",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dataset_customer_reviews_azure_sql",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/raw_data_azure_sql')]",
				"[concat(variables('factoryId'), '/datasets/transactions_data_azure_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Arjun_Dataflow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dataset_productsRefined_transform",
								"type": "DatasetReference"
							},
							"name": "productRefined"
						},
						{
							"dataset": {
								"referenceName": "dataset_productsRefined_transform",
								"type": "DatasetReference"
							},
							"name": "ProductRefined2"
						},
						{
							"dataset": {
								"referenceName": "dataset_productsRefined_transform",
								"type": "DatasetReference"
							},
							"name": "ProductRefined3"
						},
						{
							"dataset": {
								"referenceName": "TransactionREfinedASQL",
								"type": "DatasetReference"
							},
							"name": "transactionRefined"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "BestProductBasedOnReviewSQL",
								"type": "DatasetReference"
							},
							"name": "BestProductBasedOnReview"
						},
						{
							"dataset": {
								"referenceName": "BestCategoryBasedOnReview",
								"type": "DatasetReference"
							},
							"name": "BestCategoryBasedOnReview"
						},
						{
							"dataset": {
								"referenceName": "ProductsDeletedFromLenskart",
								"type": "DatasetReference"
							},
							"name": "ProductsDeletedFromLensKart"
						}
					],
					"transformations": [
						{
							"name": "sort1"
						},
						{
							"name": "averageReviewValue"
						},
						{
							"name": "sortAvgRating"
						},
						{
							"name": "groupByProductID"
						},
						{
							"name": "TRjoinPR"
						},
						{
							"name": "nullValuesSplit"
						}
					],
					"scriptLines": [
						"source(output(",
						"          id as string,",
						"          product_url as string,",
						"          color as string,",
						"          size as string,",
						"          width as integer,",
						"          brand_name as string,",
						"          brand_name_en as string,",
						"          model_name as string,",
						"          is_tbyb as boolean,",
						"          tags as string,",
						"          is_ditto as boolean,",
						"          classification as string,",
						"          specifications as string,",
						"          wishlistCount as integer,",
						"          purchaseCount as integer,",
						"          avgRating as integer,",
						"          totalNoOfRatings as integer,",
						"          hashtagList as string,",
						"          offerName as string,",
						"          cmsLinkIos as string,",
						"          qty as integer,",
						"          subCollection as string,",
						"          subCollectionId as string,",
						"          isCygnusEnabled as boolean,",
						"          isCashbackApplicable as boolean,",
						"          searchProductName as string,",
						"          Market_Price as integer,",
						"          Lenskart_Price as integer,",
						"          Discount_Percentage as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> productRefined",
						"source(output(",
						"          id as string,",
						"          product_url as string,",
						"          color as string,",
						"          size as string,",
						"          width as integer,",
						"          brand_name as string,",
						"          brand_name_en as string,",
						"          model_name as string,",
						"          is_tbyb as boolean,",
						"          tags as string,",
						"          is_ditto as boolean,",
						"          classification as string,",
						"          specifications as string,",
						"          wishlistCount as integer,",
						"          purchaseCount as integer,",
						"          avgRating as integer,",
						"          totalNoOfRatings as integer,",
						"          hashtagList as string,",
						"          offerName as string,",
						"          cmsLinkIos as string,",
						"          qty as integer,",
						"          subCollection as string,",
						"          subCollectionId as string,",
						"          isCygnusEnabled as boolean,",
						"          isCashbackApplicable as boolean,",
						"          searchProductName as string,",
						"          Market_Price as integer,",
						"          Lenskart_Price as integer,",
						"          Discount_Percentage as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> ProductRefined2",
						"source(output(",
						"          id as string,",
						"          product_url as string,",
						"          color as string,",
						"          size as string,",
						"          width as integer,",
						"          brand_name as string,",
						"          brand_name_en as string,",
						"          model_name as string,",
						"          is_tbyb as boolean,",
						"          tags as string,",
						"          is_ditto as boolean,",
						"          classification as string,",
						"          specifications as string,",
						"          wishlistCount as integer,",
						"          purchaseCount as integer,",
						"          avgRating as integer,",
						"          totalNoOfRatings as integer,",
						"          hashtagList as string,",
						"          offerName as string,",
						"          cmsLinkIos as string,",
						"          qty as integer,",
						"          subCollection as string,",
						"          subCollectionId as string,",
						"          isCygnusEnabled as boolean,",
						"          isCashbackApplicable as boolean,",
						"          searchProductName as string,",
						"          Market_Price as integer,",
						"          Lenskart_Price as integer,",
						"          Discount_Percentage as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> ProductRefined3",
						"source(output(",
						"          customer_id as string,",
						"          product_id as string,",
						"          quantity as integer,",
						"          transaction_date as date,",
						"          transaction_id as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> transactionRefined",
						"productRefined sort(desc(avgRating, true)) ~> sort1",
						"ProductRefined2 aggregate(groupBy(classification),",
						"     avgRating = avg(avgRating)) ~> averageReviewValue",
						"averageReviewValue sort(desc(avgRating, true)) ~> sortAvgRating",
						"transactionRefined aggregate(groupBy(product_id),",
						"     quantity = sum(quantity)) ~> groupByProductID",
						"groupByProductID, ProductRefined3 join(product_id == id,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> TRjoinPR",
						"TRjoinPR split(isNull(id),",
						"     disjoint: true) ~> nullValuesSplit@(nullVals, nonNullVals)",
						"sort1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          id,",
						"          product_url,",
						"          color,",
						"          size,",
						"          width,",
						"          brand_name_en,",
						"          model_name,",
						"          classification,",
						"          avgRating,",
						"          searchProductName,",
						"          Market_Price,",
						"          Lenskart_Price,",
						"          Discount_Percentage",
						"     )) ~> BestProductBasedOnReview",
						"sortAvgRating sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> BestCategoryBasedOnReview",
						"nullValuesSplit@nullVals sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          product_id",
						"     )) ~> ProductsDeletedFromLensKart"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Cleansing')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable8",
								"type": "DatasetReference"
							},
							"name": "ProductDetails"
						},
						{
							"dataset": {
								"referenceName": "Transaction",
								"type": "DatasetReference"
							},
							"name": "Transactions"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "productsRefinedAZuresA",
								"type": "DatasetReference"
							},
							"name": "ProductFined"
						},
						{
							"dataset": {
								"referenceName": "TransactionREfinedASQL",
								"type": "DatasetReference"
							},
							"name": "TransactionsFined"
						}
					],
					"transformations": [
						{
							"name": "TypeCasting"
						},
						{
							"name": "WidthInMM"
						},
						{
							"name": "TypeCastingDateQty"
						}
					],
					"scriptLines": [
						"source(output(",
						"          id as string,",
						"          product_url as string,",
						"          color as string,",
						"          size as string,",
						"          width as string,",
						"          brand_name as string,",
						"          brand_name_en as string,",
						"          model_name as string,",
						"          is_tbyb as string,",
						"          tags as string,",
						"          is_ditto as string,",
						"          classification as string,",
						"          specifications as string,",
						"          wishlistCount as string,",
						"          purchaseCount as string,",
						"          avgRating as string,",
						"          totalNoOfRatings as string,",
						"          hashtagList as string,",
						"          offerName as string,",
						"          cmsLinkIos as string,",
						"          qty as string,",
						"          subCollection as string,",
						"          subCollectionId as string,",
						"          isCygnusEnabled as string,",
						"          isCashbackApplicable as string,",
						"          searchProductName as string,",
						"          Market_Price as string,",
						"          Lenskart_Price as string,",
						"          Discount_Percentage as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> ProductDetails",
						"source(output(",
						"          customer_id as string,",
						"          product_id as string,",
						"          quantity as string,",
						"          transaction_date as string,",
						"          transaction_id as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> Transactions",
						"WidthInMM cast(output(",
						"          id as string,",
						"          product_url as string,",
						"          color as string,",
						"          size as string,",
						"          width as integer,",
						"          brand_name as string,",
						"          brand_name_en as string,",
						"          model_name as string,",
						"          is_tbyb as boolean,",
						"          tags as string,",
						"          is_ditto as boolean,",
						"          classification as string,",
						"          specifications as string,",
						"          wishlistCount as integer,",
						"          purchaseCount as integer,",
						"          avgRating as integer,",
						"          totalNoOfRatings as integer,",
						"          hashtagList as string,",
						"          offerName as string,",
						"          cmsLinkIos as string,",
						"          qty as integer,",
						"          subCollection as string,",
						"          subCollectionId as string,",
						"          isCygnusEnabled as boolean,",
						"          isCashbackApplicable as boolean,",
						"          searchProductName as string,",
						"          Market_Price as integer,",
						"          Lenskart_Price as integer,",
						"          Discount_Percentage as integer",
						"     ),",
						"     errors: true) ~> TypeCasting",
						"ProductDetails derive(width = replace(width, 'mm', '')) ~> WidthInMM",
						"Transactions cast(output(",
						"          quantity as integer,",
						"          transaction_date as date",
						"     ),",
						"     errors: true) ~> TypeCastingDateQty",
						"TypeCasting sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> ProductFined",
						"TypeCastingDateQty sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          customer_id as string,",
						"          product_id as string,",
						"          quantity as integer,",
						"          transaction_date as date,",
						"          transaction_id as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> TransactionsFined"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/productsRefinedAZuresA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pramod_Dataflow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dataset_transactionRefiendSQL",
								"type": "DatasetReference"
							},
							"name": "transactionsRefined"
						},
						{
							"dataset": {
								"referenceName": "dataset_productsRefined_transform",
								"type": "DatasetReference"
							},
							"name": "ProductsRefined"
						},
						{
							"dataset": {
								"referenceName": "dataset_transactionRefiendSQL",
								"type": "DatasetReference"
							},
							"name": "transactionsRefined1",
							"description": "Import data from dataset_transactionRefiendSQL"
						},
						{
							"dataset": {
								"referenceName": "dataset_productsRefined_transform",
								"type": "DatasetReference"
							},
							"name": "ProductsRefined1",
							"description": "Import data from dataset_productsRefined_transform"
						},
						{
							"dataset": {
								"referenceName": "dataset_transactionRefiendSQL",
								"type": "DatasetReference"
							},
							"name": "transactionsRefined2",
							"description": "Import data from dataset_transactionRefiendSQL"
						},
						{
							"dataset": {
								"referenceName": "dataset_productsRefined_transform",
								"type": "DatasetReference"
							},
							"name": "ProductsRefined2",
							"description": "Import data from dataset_productsRefined_transform"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable13",
								"type": "DatasetReference"
							},
							"name": "SalesbyYear",
							"description": "Sales_by_Year Table"
						},
						{
							"dataset": {
								"referenceName": "Sales_by_Month",
								"type": "DatasetReference"
							},
							"name": "SalesbyMonth",
							"description": "Sales_by_Month Table"
						},
						{
							"dataset": {
								"referenceName": "MaxRevenueMonthYear",
								"type": "DatasetReference"
							},
							"name": "MaxSalesinMonthandYear",
							"description": "Max Sales in Month and Year"
						}
					],
					"transformations": [
						{
							"name": "TransactionProductsJoin",
							"description": "Transaction table left join ProductsRefined"
						},
						{
							"name": "groupbyAndAggregates",
							"description": "Group by YEAR(transaction_date) and Aggregates"
						},
						{
							"name": "orderbysalesyear",
							"description": "Order By sales_year"
						},
						{
							"name": "TransactionProductsJoin1",
							"description": "Transaction table left join ProductsRefined"
						},
						{
							"name": "groupbyAndAggregates1",
							"description": "Group by YEAR(transaction_date) and Month(transaction_date) and Aggregates"
						},
						{
							"name": "orderbySalesYearAndMonth",
							"description": "orderby Sales_Year desc And Sales_Month"
						},
						{
							"name": "TransactionProductsJoin2",
							"description": "Transaction table left join ProductsRefined"
						},
						{
							"name": "groupby",
							"description": "Group by YEAR(transaction_date) and Month(transaction_date) and Aggregates"
						},
						{
							"name": "aggregate1"
						},
						{
							"name": "joingroupbyAaggregte1"
						},
						{
							"name": "orderbysalesyearDESC",
							"description": "ORDER BY  sales_year DESC"
						},
						{
							"name": "selectNecessaryFields",
							"description": "select with columns 'Sales_year,  sales_month, total_revenue, total_products_sold'"
						}
					],
					"scriptLines": [
						"source(output(",
						"          customer_id as string,",
						"          product_id as string,",
						"          quantity as integer,",
						"          transaction_date as date,",
						"          transaction_id as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> transactionsRefined",
						"source(output(",
						"          id as string,",
						"          product_url as string,",
						"          color as string,",
						"          size as string,",
						"          width as integer,",
						"          brand_name as string,",
						"          brand_name_en as string,",
						"          model_name as string,",
						"          is_tbyb as boolean,",
						"          tags as string,",
						"          is_ditto as boolean,",
						"          classification as string,",
						"          specifications as string,",
						"          wishlistCount as integer,",
						"          purchaseCount as integer,",
						"          avgRating as integer,",
						"          totalNoOfRatings as integer,",
						"          hashtagList as string,",
						"          offerName as string,",
						"          cmsLinkIos as string,",
						"          qty as integer,",
						"          subCollection as string,",
						"          subCollectionId as string,",
						"          isCygnusEnabled as boolean,",
						"          isCashbackApplicable as boolean,",
						"          searchProductName as string,",
						"          Market_Price as integer,",
						"          Lenskart_Price as integer,",
						"          Discount_Percentage as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> ProductsRefined",
						"source(output(",
						"          customer_id as string,",
						"          product_id as string,",
						"          quantity as integer,",
						"          transaction_date as date,",
						"          transaction_id as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> transactionsRefined1",
						"source(output(",
						"          id as string,",
						"          product_url as string,",
						"          color as string,",
						"          size as string,",
						"          width as integer,",
						"          brand_name as string,",
						"          brand_name_en as string,",
						"          model_name as string,",
						"          is_tbyb as boolean,",
						"          tags as string,",
						"          is_ditto as boolean,",
						"          classification as string,",
						"          specifications as string,",
						"          wishlistCount as integer,",
						"          purchaseCount as integer,",
						"          avgRating as integer,",
						"          totalNoOfRatings as integer,",
						"          hashtagList as string,",
						"          offerName as string,",
						"          cmsLinkIos as string,",
						"          qty as integer,",
						"          subCollection as string,",
						"          subCollectionId as string,",
						"          isCygnusEnabled as boolean,",
						"          isCashbackApplicable as boolean,",
						"          searchProductName as string,",
						"          Market_Price as integer,",
						"          Lenskart_Price as integer,",
						"          Discount_Percentage as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> ProductsRefined1",
						"source(output(",
						"          customer_id as string,",
						"          product_id as string,",
						"          quantity as integer,",
						"          transaction_date as date,",
						"          transaction_id as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> transactionsRefined2",
						"source(output(",
						"          id as string,",
						"          product_url as string,",
						"          color as string,",
						"          size as string,",
						"          width as integer,",
						"          brand_name as string,",
						"          brand_name_en as string,",
						"          model_name as string,",
						"          is_tbyb as boolean,",
						"          tags as string,",
						"          is_ditto as boolean,",
						"          classification as string,",
						"          specifications as string,",
						"          wishlistCount as integer,",
						"          purchaseCount as integer,",
						"          avgRating as integer,",
						"          totalNoOfRatings as integer,",
						"          hashtagList as string,",
						"          offerName as string,",
						"          cmsLinkIos as string,",
						"          qty as integer,",
						"          subCollection as string,",
						"          subCollectionId as string,",
						"          isCygnusEnabled as boolean,",
						"          isCashbackApplicable as boolean,",
						"          searchProductName as string,",
						"          Market_Price as integer,",
						"          Lenskart_Price as integer,",
						"          Discount_Percentage as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> ProductsRefined2",
						"transactionsRefined, ProductsRefined join(product_id == id,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> TransactionProductsJoin",
						"TransactionProductsJoin aggregate(groupBy(Sales_year = year(transaction_date)),",
						"     Total_revenue = sum(Lenskart_Price),",
						"          Total_quantities_sold = sum(quantity),",
						"          total_transactions = count(transaction_id),",
						"          Total_customers = countDistinct(customer_id),",
						"          Total_products = countDistinct(product_id)) ~> groupbyAndAggregates",
						"groupbyAndAggregates sort(desc(Sales_year, true)) ~> orderbysalesyear",
						"transactionsRefined1, ProductsRefined1 join(product_id == id,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> TransactionProductsJoin1",
						"TransactionProductsJoin1 aggregate(groupBy(Sales_year = year(transaction_date),",
						"          sales_month = month(transaction_date)),",
						"     Total_revenue = sum(Lenskart_Price),",
						"          Total_quantities_sold = sum(quantity),",
						"          total_transactions = count(transaction_id),",
						"          Total_customers = countDistinct(customer_id),",
						"          Total_products = countDistinct(product_id)) ~> groupbyAndAggregates1",
						"groupbyAndAggregates1 sort(desc(Sales_year, true),",
						"     asc(sales_month, true)) ~> orderbySalesYearAndMonth",
						"transactionsRefined2, ProductsRefined2 join(product_id == id,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> TransactionProductsJoin2",
						"TransactionProductsJoin2 aggregate(groupBy(Sales_year = year(transaction_date),",
						"          sales_month = month(transaction_date)),",
						"     total_revenue = sum(Lenskart_Price),",
						"          total_products_sold = countDistinct(product_id)) ~> groupby",
						"groupby aggregate(groupBy(Sales_year),",
						"     max_revenue = max(total_revenue)) ~> aggregate1",
						"aggregate1, groupby join(aggregate1@Sales_year == groupby@Sales_year",
						"     && max_revenue == total_revenue,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joingroupbyAaggregte1",
						"joingroupbyAaggregte1 sort(desc(groupby@Sales_year, true)) ~> orderbysalesyearDESC",
						"orderbysalesyearDESC select(mapColumn(",
						"          Sales_year = aggregate1@Sales_year,",
						"          sales_month,",
						"          total_revenue,",
						"          total_products_sold",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectNecessaryFields",
						"orderbysalesyear sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> SalesbyYear",
						"orderbySalesYearAndMonth sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> SalesbyMonth",
						"selectNecessaryFields sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> MaxSalesinMonthandYear"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/brandWithPurchasedCount')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dataset_productsRefined_transform",
								"type": "DatasetReference"
							},
							"name": "productSource"
						},
						{
							"dataset": {
								"referenceName": "transactionrefined",
								"type": "DatasetReference"
							},
							"name": "txnSource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable11",
								"type": "DatasetReference"
							},
							"name": "ClassificationSoldCount",
							"rejectedDataLinkedService": {
								"referenceName": "ls_lenskart_raw_blob",
								"type": "LinkedServiceReference"
							}
						},
						{
							"dataset": {
								"referenceName": "brandWithPurchasedCount",
								"type": "DatasetReference"
							},
							"name": "brandWithPurchasedCount"
						}
					],
					"transformations": [
						{
							"name": "ProductJoin"
						},
						{
							"name": "aggregate1"
						},
						{
							"name": "filter1"
						},
						{
							"name": "cast1"
						},
						{
							"name": "aggregate2"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "sort1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          id as string,",
						"          product_url as string,",
						"          color as string,",
						"          size as string,",
						"          width as integer,",
						"          brand_name as string,",
						"          brand_name_en as string,",
						"          model_name as string,",
						"          is_tbyb as boolean,",
						"          tags as string,",
						"          is_ditto as boolean,",
						"          classification as string,",
						"          specifications as string,",
						"          wishlistCount as integer,",
						"          purchaseCount as integer,",
						"          avgRating as integer,",
						"          totalNoOfRatings as integer,",
						"          hashtagList as string,",
						"          offerName as string,",
						"          cmsLinkIos as string,",
						"          qty as integer,",
						"          subCollection as string,",
						"          subCollectionId as string,",
						"          isCygnusEnabled as boolean,",
						"          isCashbackApplicable as boolean,",
						"          searchProductName as string,",
						"          Market_Price as integer,",
						"          Lenskart_Price as integer,",
						"          Discount_Percentage as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> productSource",
						"source(output(",
						"          customer_id as string,",
						"          product_id as string,",
						"          quantity as integer,",
						"          transaction_date as date,",
						"          transaction_id as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> txnSource",
						"productSource, txnSource join(id == product_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> ProductJoin",
						"ProductJoin aggregate(groupBy(classification),",
						"     quantity_sold = sum(quantity)) ~> aggregate1",
						"cast1 filter(like(transaction_date,'2023%')) ~> filter1",
						"ProductJoin cast(output(",
						"          transaction_date as string",
						"     ),",
						"     errors: true) ~> cast1",
						"derivedColumn1 aggregate(groupBy(brand_name),",
						"     purchase_sum = sum(Lenskart_Price),",
						"          quantity = sum(quantity)) ~> aggregate2",
						"filter1 derive(transaction_date = substring(transaction_date,1,4)) ~> derivedColumn1",
						"aggregate2 sort(asc(purchase_sum, true)) ~> sort1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> ClassificationSoldCount",
						"sort1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> brandWithPurchasedCount"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/transactionrefined')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable12",
								"type": "DatasetReference"
							},
							"name": "Products"
						},
						{
							"dataset": {
								"referenceName": "transactionrefined",
								"type": "DatasetReference"
							},
							"name": "Transactions"
						},
						{
							"dataset": {
								"referenceName": "AzureSqlTable11",
								"type": "DatasetReference"
							},
							"name": "ProductsRevenueHigh"
						},
						{
							"dataset": {
								"referenceName": "Customer",
								"type": "DatasetReference"
							},
							"name": "Customers"
						},
						{
							"dataset": {
								"referenceName": "AzureSqlTable11",
								"type": "DatasetReference"
							},
							"name": "products1"
						},
						{
							"dataset": {
								"referenceName": "transactionrefined",
								"type": "DatasetReference"
							},
							"name": "Transactions1"
						},
						{
							"dataset": {
								"referenceName": "transactionrefined",
								"type": "DatasetReference"
							},
							"name": "Transactions2"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Manan_Om",
								"type": "DatasetReference"
							},
							"name": "SoldTotalQtyCategoryby"
						},
						{
							"dataset": {
								"referenceName": "AzureSqlTable13",
								"type": "DatasetReference"
							},
							"name": "RevenuePerCategory"
						},
						{
							"dataset": {
								"referenceName": "AzureSqlTable14",
								"type": "DatasetReference"
							},
							"name": "RevenuePerProduct"
						},
						{
							"dataset": {
								"referenceName": "YearlyRevenue",
								"type": "DatasetReference"
							},
							"name": "TotalRevenuePerYear"
						},
						{
							"dataset": {
								"referenceName": "revenuemonth",
								"type": "DatasetReference"
							},
							"name": "MonthlyRevenue"
						},
						{
							"dataset": {
								"referenceName": "RevenueByMonthPerYear",
								"type": "DatasetReference"
							},
							"name": "RevenueByMonthPerYear"
						},
						{
							"dataset": {
								"referenceName": "TotalRevenuePerYear",
								"type": "DatasetReference"
							},
							"name": "TotalProductPerYear"
						},
						{
							"dataset": {
								"referenceName": "MostLoyalCustomer",
								"type": "DatasetReference"
							},
							"name": "MostLoyalCustomer"
						}
					],
					"transformations": [
						{
							"name": "QtyofEachproduct"
						},
						{
							"name": "transaction"
						},
						{
							"name": "Categoryfield"
						},
						{
							"name": "SoldTotalQtyCategory"
						},
						{
							"name": "join1"
						},
						{
							"name": "ptdQtyyDetails"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "SoldRevenueByCategory"
						},
						{
							"name": "join2"
						},
						{
							"name": "select1"
						},
						{
							"name": "aggregate2"
						},
						{
							"name": "QtyproductBought"
						},
						{
							"name": "join3"
						},
						{
							"name": "select2"
						},
						{
							"name": "derivedColumn2"
						},
						{
							"name": "ProductRevQty"
						},
						{
							"name": "joinProductDetail"
						},
						{
							"name": "NecessaryFieldsGroupByMonth"
						},
						{
							"name": "addYearMonth"
						},
						{
							"name": "derivedColumn3"
						},
						{
							"name": "aggregate3"
						},
						{
							"name": "TotalrevenueYearly"
						},
						{
							"name": "totalRevenueMonth"
						},
						{
							"name": "join4"
						},
						{
							"name": "select3"
						},
						{
							"name": "derivedColumn4",
							"description": "Creating/updating the columns 'quantity, Year'"
						},
						{
							"name": "TotalProductsPerYear"
						},
						{
							"name": "RevenueMonthYear"
						}
					],
					"scriptLines": [
						"source(output(",
						"          id as string,",
						"          product_url as string,",
						"          color as string,",
						"          size as string,",
						"          width as integer,",
						"          brand_name as string,",
						"          brand_name_en as string,",
						"          model_name as string,",
						"          is_tbyb as boolean,",
						"          tags as string,",
						"          is_ditto as boolean,",
						"          classification as string,",
						"          specifications as string,",
						"          wishlistCount as integer,",
						"          purchaseCount as integer,",
						"          avgRating as integer,",
						"          totalNoOfRatings as integer,",
						"          hashtagList as string,",
						"          offerName as string,",
						"          cmsLinkIos as string,",
						"          qty as integer,",
						"          subCollection as string,",
						"          subCollectionId as string,",
						"          isCygnusEnabled as boolean,",
						"          isCashbackApplicable as boolean,",
						"          searchProductName as string,",
						"          Market_Price as integer,",
						"          Lenskart_Price as integer,",
						"          Discount_Percentage as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> Products",
						"source(output(",
						"          customer_id as string,",
						"          product_id as string,",
						"          quantity as integer,",
						"          transaction_date as date,",
						"          transaction_id as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> Transactions",
						"source(output(",
						"          id as string,",
						"          product_url as string,",
						"          color as string,",
						"          size as string,",
						"          width as integer,",
						"          brand_name as string,",
						"          brand_name_en as string,",
						"          model_name as string,",
						"          is_tbyb as boolean,",
						"          tags as string,",
						"          is_ditto as boolean,",
						"          classification as string,",
						"          specifications as string,",
						"          wishlistCount as integer,",
						"          purchaseCount as integer,",
						"          avgRating as integer,",
						"          totalNoOfRatings as integer,",
						"          hashtagList as string,",
						"          offerName as string,",
						"          cmsLinkIos as string,",
						"          qty as integer,",
						"          subCollection as string,",
						"          subCollectionId as string,",
						"          isCygnusEnabled as boolean,",
						"          isCashbackApplicable as boolean,",
						"          searchProductName as string,",
						"          Market_Price as integer,",
						"          Lenskart_Price as integer,",
						"          Discount_Percentage as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> ProductsRevenueHigh",
						"source(output(",
						"          customer_id as string,",
						"          first_name as string,",
						"          last_name as string,",
						"          email as string,",
						"          phone_number as string,",
						"          address as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> Customers",
						"source(output(",
						"          id as string,",
						"          product_url as string,",
						"          color as string,",
						"          size as string,",
						"          width as integer,",
						"          brand_name as string,",
						"          brand_name_en as string,",
						"          model_name as string,",
						"          is_tbyb as boolean,",
						"          tags as string,",
						"          is_ditto as boolean,",
						"          classification as string,",
						"          specifications as string,",
						"          wishlistCount as integer,",
						"          purchaseCount as integer,",
						"          avgRating as integer,",
						"          totalNoOfRatings as integer,",
						"          hashtagList as string,",
						"          offerName as string,",
						"          cmsLinkIos as string,",
						"          qty as integer,",
						"          subCollection as string,",
						"          subCollectionId as string,",
						"          isCygnusEnabled as boolean,",
						"          isCashbackApplicable as boolean,",
						"          searchProductName as string,",
						"          Market_Price as integer,",
						"          Lenskart_Price as integer,",
						"          Discount_Percentage as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> products1",
						"source(output(",
						"          customer_id as string,",
						"          product_id as string,",
						"          quantity as integer,",
						"          transaction_date as date,",
						"          transaction_id as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> Transactions1",
						"source(output(",
						"          customer_id as string,",
						"          product_id as string,",
						"          quantity as integer,",
						"          transaction_date as date,",
						"          transaction_id as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> Transactions2",
						"Transactions aggregate(groupBy(product_id),",
						"     TotalQuantity = sum(quantity)) ~> QtyofEachproduct",
						"Products, QtyofEachproduct join(id == product_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> transaction",
						"transaction select(mapColumn(",
						"          classification,",
						"          TotalQuantity",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> Categoryfield",
						"Categoryfield aggregate(groupBy(classification),",
						"     TotalQuantity = sum(TotalQuantity)) ~> SoldTotalQtyCategory",
						"ProductsRevenueHigh, QtyofEachproduct join(id == product_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"join1 select(mapColumn(",
						"          classification,",
						"          Lenskart_Price,",
						"          TotalQuantity",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> ptdQtyyDetails",
						"ptdQtyyDetails derive(Revenue = Lenskart_Price*TotalQuantity) ~> derivedColumn1",
						"derivedColumn1 aggregate(groupBy(classification),",
						"     TotalRevenue = sum(Revenue)) ~> SoldRevenueByCategory",
						"Customers, Transactions join(Customers@customer_id == Transactions@customer_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join2",
						"join2 select(mapColumn(",
						"          customer_id = Transactions@customer_id,",
						"          first_name,",
						"          last_name,",
						"          email,",
						"          phone_number,",
						"          address,",
						"          product_id",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 aggregate(groupBy(customer_id,",
						"          first_name,",
						"          last_name,",
						"          phone_number),",
						"     No_of_Products = count(product_id)) ~> aggregate2",
						"aggregate2 sort(desc(No_of_Products, true)) ~> QtyproductBought",
						"products1, QtyofEachproduct join(id == product_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join3",
						"join3 select(mapColumn(",
						"          id,",
						"          product_url,",
						"          color,",
						"          size,",
						"          width,",
						"          brand_name,",
						"          Lenskart_Price,",
						"          TotalQuantity",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select2",
						"select2 derive(TotalRevenue = Lenskart_Price*TotalQuantity) ~> derivedColumn2",
						"derivedColumn2 sort(desc(TotalQuantity, true)) ~> ProductRevQty",
						"Transactions1, Products join(product_id == id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinProductDetail",
						"joinProductDetail select(mapColumn(",
						"          customer_id,",
						"          product_id,",
						"          quantity,",
						"          transaction_date,",
						"          brand_name,",
						"          Lenskart_Price",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> NecessaryFieldsGroupByMonth",
						"NecessaryFieldsGroupByMonth derive(Revenue = quantity*Lenskart_Price,",
						"          Year = year(transaction_date),",
						"          Month = month(transaction_date)) ~> addYearMonth",
						"NecessaryFieldsGroupByMonth derive(Year = year(transaction_date),",
						"          Revenue = quantity*Lenskart_Price) ~> derivedColumn3",
						"addYearMonth aggregate(groupBy(Year,",
						"          Month),",
						"     TotalRevenue = sum(Revenue)) ~> aggregate3",
						"derivedColumn3 aggregate(groupBy(Year),",
						"     TotalYearlyRevenue = sum(Revenue)) ~> TotalrevenueYearly",
						"addYearMonth aggregate(groupBy(Month),",
						"     TotalMonthlyRevenue = sum(Revenue)) ~> totalRevenueMonth",
						"Transactions2, Products join(product_id == id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join4",
						"join4 select(mapColumn(",
						"          quantity,",
						"          transaction_date",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select3",
						"select3 derive(Year = year(transaction_date)) ~> derivedColumn4",
						"derivedColumn4 aggregate(groupBy(Year),",
						"     TotalProducts = sum(quantity)) ~> TotalProductsPerYear",
						"aggregate3 sort(desc(Year, true),",
						"     asc(Month, true)) ~> RevenueMonthYear",
						"SoldTotalQtyCategory sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> SoldTotalQtyCategoryby",
						"SoldRevenueByCategory sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> RevenuePerCategory",
						"ProductRevQty sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> RevenuePerProduct",
						"TotalrevenueYearly sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> TotalRevenuePerYear",
						"totalRevenueMonth sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> MonthlyRevenue",
						"RevenueMonthYear sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> RevenueByMonthPerYear",
						"TotalProductsPerYear sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> TotalProductPerYear",
						"QtyproductBought sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> MostLoyalCustomer"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/transactionrefined')]",
				"[concat(variables('factoryId'), '/datasets/revenuemonth')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/mohana')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dataset_productsRefined_transform",
								"type": "DatasetReference"
							},
							"name": "ProuctSource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "BestSellingBrand",
								"type": "DatasetReference"
							},
							"name": "TopSellingBrandOnCount",
							"rejectedDataLinkedService": {
								"referenceName": "ls_lenskart_raw_blob",
								"type": "LinkedServiceReference"
							}
						},
						{
							"dataset": {
								"referenceName": "total_sale_of_brands",
								"type": "DatasetReference"
							},
							"name": "totalSaleOfBrands"
						}
					],
					"transformations": [
						{
							"name": "BrandAggregation"
						},
						{
							"name": "Typecasting"
						},
						{
							"name": "BrandRanking"
						},
						{
							"name": "TopSellingBrand"
						},
						{
							"name": "TopBrandSelect"
						}
					],
					"scriptLines": [
						"source(output(",
						"          id as string,",
						"          product_url as string,",
						"          color as string,",
						"          size as string,",
						"          width as integer,",
						"          brand_name as string,",
						"          brand_name_en as string,",
						"          model_name as string,",
						"          is_tbyb as boolean,",
						"          tags as string,",
						"          is_ditto as boolean,",
						"          classification as string,",
						"          specifications as string,",
						"          wishlistCount as integer,",
						"          purchaseCount as integer,",
						"          avgRating as integer,",
						"          totalNoOfRatings as integer,",
						"          hashtagList as string,",
						"          offerName as string,",
						"          cmsLinkIos as string,",
						"          qty as integer,",
						"          subCollection as string,",
						"          subCollectionId as string,",
						"          isCygnusEnabled as boolean,",
						"          isCashbackApplicable as boolean,",
						"          searchProductName as string,",
						"          Market_Price as integer,",
						"          Lenskart_Price as integer,",
						"          Discount_Percentage as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> ProuctSource",
						"ProuctSource aggregate(groupBy(brand_name),",
						"     tot_purchaseCount = sum(purchaseCount)) ~> BrandAggregation",
						"BrandAggregation cast(output(",
						"          tot_purchaseCount as integer",
						"     ),",
						"     errors: true) ~> Typecasting",
						"Typecasting rank(desc(tot_purchaseCount, true),",
						"     output(rank1 as long)) ~> BrandRanking",
						"BrandRanking filter(equals(rank1,1)) ~> TopSellingBrand",
						"TopSellingBrand select(mapColumn(",
						"          brand_name,",
						"          tot_purchaseCount",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> TopBrandSelect",
						"TopBrandSelect sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> TopSellingBrandOnCount",
						"BrandRanking sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> totalSaleOfBrands"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/total_sale_of_brands')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/mostwanted')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Transaction",
								"type": "DatasetReference"
							},
							"name": "source1"
						},
						{
							"dataset": {
								"referenceName": "productas",
								"type": "DatasetReference"
							},
							"name": "source2"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "categorization",
								"type": "DatasetReference"
							},
							"name": "finaloutput"
						}
					],
					"transformations": [
						{
							"name": "join1"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          customer_id as string,",
						"          product_id as string,",
						"          quantity as string,",
						"          transaction_date as string,",
						"          transaction_id as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source(output(",
						"          id as string,",
						"          product_url as string,",
						"          color as string,",
						"          size as string,",
						"          width as integer,",
						"          brand_name as string,",
						"          brand_name_en as string,",
						"          model_name as string,",
						"          is_tbyb as string,",
						"          tags as string,",
						"          is_ditto as string,",
						"          classification as string,",
						"          specifications as string,",
						"          wishlistCount as string,",
						"          purchaseCount as string,",
						"          avgRating as string,",
						"          totalNoOfRatings as string,",
						"          hashtagList as string,",
						"          offerName as string,",
						"          cmsLinkIos as string,",
						"          qty as string,",
						"          subCollection as string,",
						"          subCollectionId as string,",
						"          isCygnusEnabled as string,",
						"          isCashbackApplicable as string,",
						"          searchProductName as string,",
						"          Market_Price as string,",
						"          Lenskart_Price as string,",
						"          Discount_Percentage as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source2",
						"source1, source2 join(product_id == id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"join1 aggregate(groupBy(brand_name,",
						"          classification),",
						"     NoOfProduct = count(transaction_id)) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> finaloutput"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/productas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/productCast')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "productsRefinedAZuresA",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "product_details_casted",
								"type": "DatasetReference"
							},
							"name": "sink1",
							"rejectedDataLinkedService": {
								"referenceName": "ls_lenskart_raw_blob",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "cast1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          id as string,",
						"          product_url as string,",
						"          color as string,",
						"          size as string,",
						"          width as integer,",
						"          brand_name as string,",
						"          brand_name_en as string,",
						"          model_name as string,",
						"          is_tbyb as string,",
						"          tags as string,",
						"          is_ditto as string,",
						"          classification as string,",
						"          specifications as string,",
						"          wishlistCount as string,",
						"          purchaseCount as string,",
						"          avgRating as string,",
						"          totalNoOfRatings as string,",
						"          hashtagList as string,",
						"          offerName as string,",
						"          cmsLinkIos as string,",
						"          qty as string,",
						"          subCollection as string,",
						"          subCollectionId as string,",
						"          isCygnusEnabled as string,",
						"          isCashbackApplicable as string,",
						"          searchProductName as string,",
						"          Market_Price as string,",
						"          Lenskart_Price as string,",
						"          Discount_Percentage as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 cast(output(",
						"          id as integer,",
						"          product_url as string,",
						"          color as string,",
						"          size as string,",
						"          width as integer,",
						"          brand_name as string,",
						"          brand_name_en as string,",
						"          model_name as string,",
						"          is_tbyb as string,",
						"          tags as string,",
						"          is_ditto as string,",
						"          classification as string,",
						"          specifications as string,",
						"          wishlistCount as integer,",
						"          purchaseCount as integer,",
						"          avgRating as float,",
						"          totalNoOfRatings as integer,",
						"          hashtagList as string,",
						"          offerName as string,",
						"          cmsLinkIos as string,",
						"          qty as integer,",
						"          subCollection as string,",
						"          subCollectionId as integer,",
						"          isCygnusEnabled as boolean,",
						"          isCashbackApplicable as string,",
						"          searchProductName as string,",
						"          Market_Price as integer,",
						"          Lenskart_Price as integer,",
						"          Discount_Percentage as float",
						"     ),",
						"     errors: true) ~> cast1",
						"cast1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['product_details_casted'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/productsRefinedAZuresA')]",
				"[concat(variables('factoryId'), '/datasets/product_details_casted')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Insights')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Products": {},
									"Transactions": {},
									"ProductsRevenueHigh": {},
									"Customers": {},
									"products1": {},
									"Transactions1": {},
									"Transactions2": {},
									"SoldTotalQtyCategoryby": {},
									"RevenuePerCategory": {},
									"RevenuePerProduct": {},
									"TotalRevenuePerYear": {},
									"MonthlyRevenue": {},
									"RevenueByMonthPerYear": {},
									"TotalProductPerYear": {},
									"MostLoyalCustomer": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bestselling-brand')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Mohana",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "mohana",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ProuctSource": {},
									"TopSellingBrandOnCount": {},
									"totalSaleOfBrands": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/mohana')]"
			]
		}
	]
}